{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<section class="section-1">
    <div class="wrapper">
        <div class="left left-column">
            <h1 class="underlined yellow">Nexteria leadership academy</h1>
            <p class="perex">3-ročný intenzívny vzdelávací program primárne popri vysokej škole</p>
            <p>Nexteria Leadership Academy je 3-ročný rozvojový program. Intenzívne rozvíjame praktické zručnosti, silné vzťahy a etické hodnoty v úzkej rôznorodej skupine top študentov, ktorí majú ambíciu a potenciál byť lídrami v biznise, politike, vede, práve, IT a ďalších dôležitých oblastiach spoločnosti.</p>
        </div>
        <div class="right right-column">
            <div class="animals-img">
                <div id="carousel-student-generic" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-student-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-student-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-student-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-student-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-student-generic" data-slide-to="4"></li>
                    <li data-target="#carousel-student-generic" data-slide-to="5"></li>
                    <li data-target="#carousel-student-generic" data-slide-to="6"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <img src="{% static 'images/graphic/carousel-student-1.jpg' %}" alt="">
                    </div>
                    <div class="item">
                      <img src="{% static 'images/graphic/carousel-student-2.jpg' %}" alt="">
                    </div>
                    <div class="item">
                      <img src="{% static 'images/graphic/carousel-student-3.jpg' %}" alt="">
                    </div>
                    <div class="item">
                      <img src="{% static 'images/graphic/carousel-student-4.jpg' %}" alt="">
                    </div>
                    <div class="item">
                      <img src="{% static 'images/graphic/carousel-student-5.jpg' %}" alt="">
                    </div>
                    <div class="item">
                      <img src="{% static 'images/graphic/carousel-student-6.jpg' %}" alt="">
                    </div>
                    <div class="item">
                      <img src="{% static 'images/graphic/carousel-student-7.jpg' %}" alt="">
                    </div>
                  </div>
                </div>
                <div>
                	<p class="citace">Meníme budúcnosť Slovenska prípravou novej
generácie slušných a schopných mladých ľudí.</p>
				</div>
            </div>
        </div>
        <br class="cleaner">
        <div class="but-line">
        	<a href="{% url 'register' %}" class="button deadline-button">Prihlás sa</a>
        </div>
    </div>
</section>
<section class="section-2">
	<div class="rev">
    	<div class="wrapper">
        	<div class="col right">
            	<div class="cont">
                    <div id="carousel-nx-people-generic" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#carousel-nx-people-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-nx-people-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-nx-people-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-nx-people-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-nx-people-generic" data-slide-to="4"></li>
                        <li data-target="#carousel-nx-people-generic" data-slide-to="5"></li>
                        <li data-target="#carousel-nx-people-generic" data-slide-to="6"></li>
                      </ol>

                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">
                        <div class="item active">
                          <img src="{% static 'images/graphic/carousel-nx-people-1.jpg' %}" alt="">
                          <div class="carousel-caption">
                            <h3>ANDREJ KISKA</h3>
                            <p>ZAKLADATEĽ DOBRÉHO ANJELA</p>
                          </div>
                        </div>
                        <div class="item">
                            <img src="{% static 'images/graphic/carousel-nx-people-4.jpg' %}" alt="">
                            <div class="carousel-caption">
                              <h3>KATARÍNA BOLEDOVIČOVÁ</h3>
                              <p>RIADITEĽKA ODBORU RIADENIA PREDAJA A SERVISU TATRA BANKA</p>
                            </div>
                        </div>
                        <div class="item">
                          <img src="{% static 'images/graphic/carousel-nx-people-3.jpg' %}" alt="">
                          <div class="carousel-caption">
                            <h3>MICHAL MEŠKO</h3>
                            <p>CEO MARTINUS.SK</p>
                          </div>
                        </div>
                        <div class="item">
                            <img src="{% static 'images/graphic/carousel-nx-people-7.jpg' %}" alt="">
                            <div class="carousel-caption">
                              <h3>TATIANA ONDREJKOVÁ</h3>
                              <p>CEO PELIKAN.SK</p>
                            </div>
                          </div>
                        <div class="item">
                          <img src="{% static 'images/graphic/carousel-nx-people-6.jpg' %}" alt="">
                          <div class="carousel-caption">
                            <h3>MARIÁN KOLNÍK</h3>
                            <p>CLIENT PARTNER FRANKLINCOVEY</p>
                          </div>
                        </div>
                        <div class="item">
                            <img src="{% static 'images/graphic/carousel-nx-people-5.jpg' %}" alt="">
                            <div class="carousel-caption">
                              <h3>ALENA KANABOVÁ</h3>
                              <p>SENIOR MANAGER ACCENTURE</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{% static 'images/graphic/carousel-nx-people-2.jpg' %}" alt="">
                            <div class="carousel-caption">
                              <h3>STANISLAV BOLEDOVIČ</h3>
                              <p>SPOLUZAKLADATEĽ NEXTERIE A ZAKLADATEĽ A CEO TEACH FOR SLOVAKIA</p>
                            </div>
                        </div>
                      </div>
                    </div>
                    <br class="cleaner">
                    <p>Prepájame študentov a úspešných ľudí s vysokými morálnymi hodnotami. Podporujeme tak transfer vedomostí a schopností medzi našimi podporovateľmi a študentmi formou diskusií, workshopov, kurzov, ako aj mentoringu.</p>
                    <a href="{% url 'register' %}" class="button yellow">Prihlás sa</a>
                </div>
            </div>
            <div class="col left">
                <h2>PODPOROVATELIA</h2>
                <ul class="osobnosti">
                    <li>
                        <div class="os-logo">
                            <img src="{% static 'images/graphic/os-kiska.png' %}" alt="">
                        </div>
                        <div class="os-jmeno">
                            <p class="jmeno">Andrej Kiska</p>
                            <p class="funkce">Zakladateľ Dobrého Anjela</p>
                        </div>
                    </li>
                    <li>
                        <div class="os-logo">
                            <img src="{% static 'images/graphic/os-boledovicova.png' %}" alt="">
                        </div>
                        <div class="os-jmeno">
                            <p class="jmeno">Katarína Boledovičová</p>
                            <p class="funkce">Riaditeľka odboru riadenia predaja a servisu Tatra Banka</p>
                        </div>
                    </li>
                    <li>
                        <div class="os-logo">
                            <img src="{% static 'images/graphic/os-mesko.png' %}" alt="">
                        </div>
                        <div class="os-jmeno">
                            <p class="jmeno">Michal Meško</p>
                            <p class="funkce">CEO Martinus.sk</p>
                        </div>
                    </li>
                    <li>
                        <div class="os-logo">
                            <img src="{% static 'images/graphic/os-pelikan.png' %}" alt="">
                        </div>
                        <div class="os-jmeno">
                            <p class="jmeno">Tatiana Ondrejková</p>
                            <p class="funkce">CEO pelikan.sk</p>
                        </div>
                    </li>
                    <li>
                        <div class="os-logo">
                            <img src="{% static 'images/graphic/os-kolnik.png' %}" alt="">
                        </div>
                        <div class="os-jmeno">
                            <p class="jmeno">Marián Kolník</p>
                            <p class="funkce">Client partner Franklincovey</p>
                        </div>
                    </li>
                    <li>
                        <div class="os-logo">
                            <img src="{% static 'images/graphic/os-kanabova.png' %}" alt="">
                        </div>
                        <div class="os-jmeno">
                            <p class="jmeno">Alena Kanabová</p>
                            <p class="funkce">Senior manager Accenture</p>
                        </div>
                    </li>
                    <li>
                        <div class="os-logo">
                            <img src="{% static 'images/graphic/os-boledovic.png' %}" alt="">
                        </div>
                        <div class="os-jmeno">
                            <p class="jmeno">Stanislav Boledovič</p>
                            <p class="funkce">Spoluzakladateľ Nexterie a zakladateľ a CEO Teach for Slovakia</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-3">
	<div class="wrapper">
        <h2 class="underlined">Aktivity Nexteria Leadership Academy</h2>
        <div class="col left">
            <ul class="aktivity">
            	<li>
                	<div class="aktiv-img">
                    	<img src="{% static 'images/graphic/ak-kurzy.png' %}" alt="Intenzívne kurzy">
                    </div>
                    <div class="text">
                    	<h3>Intenzívne kurzy</h3>
                        <p>Počas 3 rokov intenzívne rozvíjame soft skills a hard skills spolu s kritickým myslením, kreativitou a hodnotami.</p>
                    </div>
                </li>
                <li>
                	<div class="aktiv-img">
                    	<img src="{% static 'images/graphic/ak-kravata.png' %}" alt="Intenzívne kurzy">
                    </div>
                    <div class="text">
                    	<h3>Diskusie bez kravaty</h3>
                        <p>Pravidelne organizujeme uzavreté diskusie s úspešnými osobnosťami o ich životných aj kariérnych príbehoch.</p>
                    </div>
                </li>
                <li>
                	<div class="aktiv-img">
                    	<img src="{% static 'images/graphic/ak-guide.png' %}" alt="Intenzívne kurzy">
                    </div>
                    <div class="text">
                    	<h3>Guide program</h3>
                        <p>Každý študent NLA má vlastného guida / mentora, ktorý s ním na osobných stretnutiach
    diskutuje o jeho vízii, cieľoch, problémoch alebo o vlastných projektoch či osobnej kariére.</p>
                    </div>
                </li>
                <li>
                    <div class="aktiv-img">
                        <img src="{% static 'images/graphic/ak-networking.png' %}" alt="Intenzívne kurzy">
                    </div>
                    <div class="text">
                        <h3>Networking</h3>
                        <p>Na pravidelných akciách, ale aj mimo nich, sa môžu naši študenti zoznamovať a komunikovať s viac ako 200 významnými podporovateľmi a partnermi, 100 absolventmi NLA a množstvom iných zaujímavých ľudí.</p>
                    </div>
                </li>
                <li>
                    <div class="aktiv-img">
                        <img src="{% static 'images/graphic/ak-prax.png' %}" alt="Intenzívne kurzy">
                    </div>
                    <div class="text">
                        <h3>Projekty v praxi</h3>
                        <p>Vytvárame priestor na zapojenie študentov NLA do reálnych projektov vo firmách, spoluorganizovania podujatí pod záštitou Nexterie a podporujeme rozvoj vlastných študentských projektov.</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col right">
            <div id="studentske-aktivity-video"></div>
        </div>
        <div class="clearfix"></div>
        <div class="but-line">
        	<a href="{% url 'register' %}" class="button deadline-button">Prihlás sa</a>
        </div>
    </div>
</section>
<section class="section-skolne">
    <div class="wrapper">
        <h2 class="underlined">Ty dáš 20%, my zoženieme zvyšných 80%</h2>
        <div class="col right">
            <p>Príjmy zo študentských platieb pokrývajú 20% nákladov na organizovanie aktivít programu. Zvyšok je platený zo sponzorských darov partnerov, individuálnych podporovateľov a absolventov, ako aj komerčných aktivít Nexterie ako Night of Chances a kariérnych klubov. Trhová hodnota všetkých kurzov, diskusii, mentoringového programu, networkingových eventov a možností podieľať sa na praktických projektoch vo firmách sa pohybuje na úrovni 3600€/ročne.</p>
            <p><b>Prvý semester ponúkame trial verziu iba za 39€/mesiac. Ak sa z dôvodu nespokojnosti rozhodneš v štúdiu v Nexterii nepokračovať, vrátime Ti plnú výšku platieb za prvý semester.</b></p>
            <p>Každý študent má taktiež právo požiadať o štipendium a znížiť si tak základnú platbu z 39€/79€ na nižšiu sumu. V školskom roku 2018/2019 plánujeme udeliť štipendium v rôznej forme cca. 80% všetkých študentov.</p>
            <div class="but-line">
                <a href="{% url 'register' %}" class="button deadline-button">Prihlás sa</a>
            </div>
        </div>
        <div class="col left">
            <div>
                <div class="table-container">
                    <table>
                        <thead>
                            <th>
                                <div>Členské</div>
                            </th>
                            <th>
                                <div>Študent</div>
                                <div class="subtitle">Nexterie</div>
                            </th>
                            <th>
                                <div>Trhová</div>
                                <div class="subtitle">cena</div>
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="with-ribon">
                                    <span>1. Semester</span>
                                    <div class="corner-ribbon bottom-right red shadow">TRIAL</div>
                                </td>
                                <td>39 €&nbsp;</td>
                                <td>360 €</td>
                            </tr>
                            <tr>
                                <td>2. Semester</td>
                                <td>79 €*</td>
                                <td>360 €</td>
                            </tr>
                            <tr>
                                <td>2. a 3. Ročník</td>
                                <td>79 €*</td>
                                <td>360 €</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pod-skolnym">
                    <div>* Každý študent má možnosť požiadať o individuálne zníženie výšky platby. Nejakú formu štipendium vieme poskytnúť až 80% študentov. Nedostatočné finančné zdroje by tak určite nemali byť prekážkou v podaní prihlášky. Pre viac informácii o štipendiách si prečítaj <a href="{% static 'Stipendia_info.pdf' %}" target="_blank">TENTO DOKUMENT</a>.</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-4">
	<div class="wrapper">
    	<h2 class="underlined yellow">Hodnoty Nexterie</h2>
        <p class="perex">V srdci Nexterie je šesť hodnôt, ktorými sa riadime a ku ktorým vedieme mladých ľudí. Podľa týchto hodnôt si vyberáme partnerov, študentov, spolupracovníkov, aj firmy.</p>
        <ul class="hodnoty">
        	<li>
            	<h3>Proaktivita</h3>
                <p>Cítim zodpovednosť meniť veci, na ktorých mi záleží a iniciatívne realizujem prvé kroky.</p>
            </li>
            <li>
            	<h3>Vízia</h3>
                <p>Stanovujem si dlhodobé ciele, zapaľujem pre ne druhých ľudí a vytrvalo robím všetko pre ich dosiahnutie.</p>
            </li>
            <li>
            	<h3>Excelentnosť</h3>
                <p>Disciplinovane pracujem na zlepšovaní svojich schopností a uspokojím sa len s najvyššou možnou kvalitou.</p>
            </li>
            <li>
            	<h3>Integrita</h3>
                <p>Mám odvahu vždy povedať, čo si myslím a konať, čo je správne, aj keď to je nekomfortné.</p>
            </li>
            <li>
            	<h3>Vzájomnosť</h3>
                <p>S pokorou budujem sieť vzťahov založených na dôvere a vzájomnej podpore.</p>
            </li>
            <li>
            	<h3>Služba</h3>
                <p>Viem, že od života som veľa dostal a hľadám príležitosti, ako urobiť niečo prospešné pre spoločnosť a druhých ľudí.</p>
            </li>
        </ul>
        <div class="but-line">
        	<a href="{% url 'register' %}" class="button deadline-button">Prihlás sa</a>
        </div>
    </div>
</section>
<section class="section-5">
	<div class="wrapper">
        <h2 class="underlined yellow">Štúdium v Nexteria Leadership academy</h2>
    	<div class="col left">
            <p class="perex">Za jeden semester absolvuješ:</p>
            <ul class="studium">
            	<li>
                	<p class="big">5+</p>
                    <p>kurzov</p>
                </li>
                <li>
                	<p class="big">5+</p>
                    <p>diskusií</p>
                </li>
                <li>
                	<p class="big">2+</p>
                    <p>networkingových akcií</p>
                </li>
                <li>
                	<p class="big">Stretnutia</p>
                    <p>s mentorom</p>
                </li>
                <li>
                	<p class="big">Projekt</p>
                    <p>vo firme</p>
                </li>
                <li>
                	<p class="big">Aktivity</p>
                    <p>organizované študentmi</p>
                </li>
            </ul>
            <p>Nexteria Leadership Academy funguje podobne ako škola. Za jednotlivé aktivity (kurzy, diskusie, projekty a iné) získavaš body a štúdium je zakončené promóciami.</p>
            <p>Aktivity sa konajú počas semestra približne 2x do týždňa, vo večerných hodinách alebo cez víkend. Na úspešné absolvovanie semestra potrebuješ aspoň 75% bodov za aktivitu.
        </div>
        <div class="col right">
            <div id="carousel-studium-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-studium-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-studium-generic" data-slide-to="1"></li>
                <li data-target="#carousel-studium-generic" data-slide-to="2"></li>
                <li data-target="#carousel-studium-generic" data-slide-to="3"></li>
                <li data-target="#carousel-studium-generic" data-slide-to="4"></li>
                <li data-target="#carousel-studium-generic" data-slide-to="5"></li>
                <li data-target="#carousel-studium-generic" data-slide-to="6"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="{% static 'images/graphic/carousel-studium-1.jpg' %}" alt="">
                </div>
                <div class="item">
                  <img src="{% static 'images/graphic/carousel-studium-2.jpg' %}" alt="">
                </div>
                <div class="item">
                  <img src="{% static 'images/graphic/carousel-studium-3.jpg' %}" alt="">
                </div>
                <div class="item">
                  <img src="{% static 'images/graphic/carousel-studium-4.jpg' %}" alt="">
                </div>
                <div class="item">
                  <img src="{% static 'images/graphic/carousel-studium-5.jpg' %}" alt="">
                </div>
                <div class="item">
                  <img src="{% static 'images/graphic/carousel-studium-6.jpg' %}" alt="">
                </div>
                <div class="item">
                  <img src="{% static 'images/graphic/carousel-studium-7.jpg' %}" alt="">
                </div>
              </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="but-line">
        	<a href="{% url 'register' %}" class="button">Prihlás sa</a>
        </div>
    </div>
</section>
<section class="section-8">
	<div class="wrapper">
    	<div class="col right">
            <div id="prihlas-sa-dnes-video"></div>
        </div>
    	<div class="col left">
        	<h2 class="underlined">Prihlás sa ešte dnes</h2>
            <p class="perex">Odporúčame ti zaslať svoju prihlášku čím skôr.
Na prihlásenie do NLA potrebuješ:</p>
            <table class="pozadavky">
                <tr>
                    <td><span class="num">1</span></td>
                    <td><p>vyplniť formulár na stránke</p></td>
                </tr>
                <tr>
                    <td><span class="num">2</span></td>
                    <td><p>odpovedať na otázky o tvojej motivácii</p></td>
                </tr>
                <tr>
                    <td><span class="num">3</span></td>
                    <td>
                        <p>nahrať svoje CV<br><span class="little">
(Pozri sa, ako sa píše <a href="https://docs.google.com/presentation/d/1qs_GAM6UGr_HeEQPdF06Xf2RCqZTexvG0n_aWUD73eg/edit?usp=sharing" target="_blank">kvalitné CV</a> podľa
šéfa slovenského Googlu, Rasťa Kulicha)</span></p>
                    </td>
                </tr>
            </table>
            <a href="{% url 'register' %}" class="button deadline-button">Prihlás sa</a>
        </div>
    </div>
    <script>
        function onYouTubeIframeAPIReady() {
            var player2;
            player2 = new YT.Player('prihlas-sa-dnes-video', {
                videoId: 'QVUWWUL0N04', // YouTube Video ID
                width: 480,               // Player width (in px)
                height: 270,              // Player height (in px)
                playerVars: {
                    autoplay: 1,        // Auto-play the video on load
                    controls: 1,        // Show pause/play buttons in player
                    showinfo: 0,        // Hide the video title
                    modestbranding: 1,  // Hide the Youtube Logo
                    loop: 1,            // Run the video in a loop
                    fs: 0,              // Hide the full screen button
                    cc_load_policy: 0, // Hide closed captions
                    iv_load_policy: 3,  // Hide the Video Annotations
                    autohide: 0         // Hide video controls when playing
                },
                events: {
                    onReady: function(e) {
                        e.target.mute();
                    },
                    onStateChange: function(e){
                        if(e.data === YT.PlayerState.ENDED){
                            player2.loadVideoById('QVUWWUL0N04');
                        }
                    }
                }
            });

            var player;
            player = new YT.Player('studentske-aktivity-video', {
                videoId: 'IUeOfbDknSA', // YouTube Video ID
                width: 480,               // Player width (in px)
                height: 270,              // Player height (in px)
                playerVars: {
                    autoplay: 1,        // Auto-play the video on load
                    controls: 1,        // Show pause/play buttons in player
                    showinfo: 0,        // Hide the video title
                    modestbranding: 1,  // Hide the Youtube Logo
                    loop: 1,            // Run the video in a loop
                    fs: 0,              // Hide the full screen button
                    cc_load_policy: 0, // Hide closed captions
                    iv_load_policy: 3,  // Hide the Video Annotations
                    autohide: 0         // Hide video controls when playing
                },
                events: {
                    onReady: function(e) {
                        e.target.mute();
                    },
                    onStateChange: function(e){
                        if(e.data === YT.PlayerState.ENDED){
                            player.loadVideoById('IUeOfbDknSA');
                        }
                    }
                }
            });
        }
    </script>
</section>
{% endblock %}
