{% extends 'base.html' %}
{% load widget_tweaks %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}
<div class="subpage-form">

<script type="text/javascript">
  $(function() {
     $("input:file").change(function (){
       $(this).addClass('picked');
     });
  });
</script>
	<section class="subpage-form-1">
    	<div class="wrapper">
        	<h1 class="underlined center">Teší nás tvoj záujem o Nexteria Leadership Academy</h1>
            <p class="perex">Sme radi, že máš záujem na sebe pracovať a zlepšovať sa! Nexteria Leadership Academy pripravujeme s úmyslom, aby na významných pozíciach boli slušní a schopní ľudia.</p>

        	<form class="main-form" name="main-form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}

            	<div class="form-line half">
                	<span class="little">Meno</span>
                    {{ form.meno }}
                    {{ form.meno.errors }}
                </div>
                <div class="form-line half">
                	<span class="little">Priezvisko</span>
                    {{ form.priezvisko }}
                    {{ form.priezvisko.errors }}
                </div>
                <div class="form-line half">
                    <span class="little">Email</span>
                	{{ form.email }}
                    {{ form.email.errors }}
                </div>
                <div class="form-line half">
                    <span class="little">Telefónne číslo</span>
                	{{ form.telefon }}
                    {{ form.telefon.errors }}
                </div>
                <div class="volitelne">
                	<p class="vol-head">Voliteľné</p>
                	<div class="form-line">
                        <span class="little">Ako si sa o nás dozvedel/a</span>
                    	<!--<input type="text" name="mf-ref" placeholder="Ako si sa o nás odzvedel" id="mf-ref">-->
                        {{ form.ref }}
                        {{ form.ref.errors }}
                    </div>
                    <div class="form-line half">
                        <span class="little">Názov aktuálnej školy</span>
                        <!--<input type="text" name="mf-school" placeholder="Názov školy" id="mf-school">-->
                        {{ form.skola }}
                        {{ form.skola.errors }}
                    </div>
                    <div class="form-line half">
                        <span class="little">Stupeň štúdia v máji {{ settings.registration_year }}</span>
                        {{ form.stupen_studia }}
                        {{ form.stupen_studia.errors }}
                    </div>
                </div>
                <div class="form-line check">
                    <!--<input type="checkbox" name="mf-suhlas" id="mf-suhlas" required>
                    <label for="mf-suhlas"><i class="fa fa-check"></i></label>-->
                    {{ form.udaje }}
                    <label for="id_udaje" id="id_udaje_label">
                        <span><a href="{% static 'suhlas2016.pdf' %}" target="_blank">Súhlas so spracovaním osobných údajov</a></span>
                    </label>
                    {{ form.udaje.errors }}
                </div>
                <div class="form-line check">
                    <!--<input type="checkbox" name="mf-subscribe" id="mf-subscribe">
                    <label for="mf-subscribe"><i class="fa fa-check"></i></label>-->
                    {{ form.novinky }}
                    <label for="id_novinky">
                        <span>Súhlas so zasielaním informačných materiálov</span>
                    </label>
                    {{ form.novinky.errors }}
                </div>
                <div class="form-line">
				    <input type="submit" class="button yellow" name="mf-submit" value="Pokračovať v registrácii">
                    <ul id="id_udaje_error" class="errorlist hidden"><li>Ak chcete pokračovať v registrácii, musíte súhlasiť so spracovaním osobných údajov.</li></ul>
                </div>

                <div class="form-line deadline">
                    Prvé výberové kolo končí <time datetime="2018-01-28">28. 1. 2018</time>.
                </div>
                <div class="form-line">
                    V druhom kroku registrácie nám odpovedaj na otázky o tvojej motivácii a pošli svoje <a href="http://tiny.cc/nexteria-cv-manual" target="_blank">aktuálne CV</a>. V prípade, že túto časť nevyplníš hneď, budeme ťa do 2 dní kontaktovať emailom.
                </div>
            </form>

        </div>
    </section>
    <section class="subpage-form-3">
    	<div class="wrapper">
        	<h2 class="underlined center">V krátkosti o výberovom procese</h2>
            <p class="perex">Výberový proces je stupňovitý, to znamená, že po každom kole sa dozvieš, či postupuješ ďalej alebo nie.<br> Prvé výberové kolá začínajú v januári {{ settings.registration_year }}. Prihlášky registrujeme počas celého roka.</p>
            <div class="timeline">
            	<div class="start">
                	<p class="big">1.</p>
                    <p>bod</p>
                </div>
                <div class="zero">Zaslanie<br>prihlášky</div>
                <div class="line one">
                	<div class="point">
                    	<p class="little">1. kolo</p>
                        <p>Vyhodnotenie prihlášky,<br>CV a tvojej motivácie</p>
                    </div>
                </div>
                <div class="line two">
                	<div class="point">
                    	<p class="little">2. kolo</p>
                        <p>Prezentácia Nexterie<br>analytický test<br>10 minútové interview</p>
                    </div>
                </div>
                <div class="line three">
                	<div class="point">
                    	<p class="little">3. kolo</p>
                        <p>Skupinové diskusie</p>
                    </div>
                </div>
                <div class="line four">
                	<div class="point">
                    	<p class="little">4. kolo</p>
                        <p>Osobný pohovor</p>
                    </div>
                </div>
                <div class="last">
                	<p>Finálne rozhodnutie o prijatí / neprijatí</p>
                </div>
                <div class="cil">
                	<p><i class="fa fa-check"></i></p>
                </div>
            </div>
        </div>
    </section>
<section class="faq">
    <div class="wrapper">
    	<a href="http://nexteria.sk/som-student/ing/faq/" target="_blank">Často kladené otázky</a>
    </div>
</section>
</div>
{% endblock %}
