#header {
    background-color: #991967;
}

.module caption {
    background-color: #02663D;
}

div.breadcrumbs {
    background-color: #3861A9;
}

input[type=submit], .submit-row input {
    background-color: #076D3F;
}

input[type=submit].default, .submit-row input.default {
    background-color: #48B75B;
}